# Task -1:

In [12]:
import spacy
import re
import pandas as pd

In [13]:
df = pd.read_csv("./Query_Doc/docs.csv")
queries = pd.read_csv("./Query_Doc/queries.csv")

df.head()

   Unnamed: 0  doc_id                                           doc_text
0           0       1  What is the step by step guide to invest in sh...
1           1       2  What is the step by step guide to invest in sh...
2           2       3  What is the story of Kohinoor (Koh-i-Noor) Dia...
3           3       4  What would happen if the Indian government sto...
4           4       5  How can I increase the speed of my internet co...

In [14]:
queries.head()

   Unnamed: 0  query_id                                         query_text
0           0      4584                How can ask questions using photos?
1           1      6588  What is Atal Pension Yojana? What are its bene...
2           2     10113      Where is starch digested? How is it digested?
3           3      7957      What is a conjecture? What are some examples?
4           4      5498  What can India do to support the people suffer...

In [15]:
nlp = spacy.blank("en")

### 1. Preprocessing of the docs and queries - removing the characters other than alphanumerics or whitespaces

In [16]:
def purify_docs(data):
    purified_doc = re.sub(r'[^a-zA-Z0-9\s]', ' ', data)
    return purified_doc

df['pure'] = (df['doc_text']).apply(purify_docs)
queries['pure'] = (queries['query_text']).apply(purify_docs)

# Display the DataFrame
print(df['pure'].head())
print(queries['pure'].head())

0    What is the step by step guide to invest in sh...
1    What is the step by step guide to invest in sh...
2    What is the story of Kohinoor  Koh i Noor  Dia...
3    What would happen if the Indian government sto...
4    How can I increase the speed of my internet co...
Name: pure, dtype: object
0                  How can ask questions using photos
1    What is Atal Pension Yojana  What are its bene...
2        Where is starch digested  How is it digested
3        What is a conjecture  What are some examples
4    What can India do to support the people suffer...
Name: pure, dtype: object

### 2. We need to correct the spellings in both queries and documents. For each query, which got corrected, we need to display the original and the corrected query on two spearate lines

In [17]:
from autocorrect import Speller

def rectify_sentences(text):
    return spell(text)

queries['rectified'] = queries['pure'].apply(rectify_sentences)
df['rectified'] = df['pure'].apply(rectify_sentences)

for index, row in queries.iterrows():
    original_query = row['pure']
    corrected_query = row['rectified']
    if original_query != corrected_query:
        print(f"Original Query: {original_query}")
        print(f"Corrected Query: {corrected_query}")
        print("\n")

Original Query: What is Atal Pension Yojana  What are its benefits
Corrected Query: What is Atl Pension Yolanda  What are its benefits


Original Query: Where is starch digested  How is it digested
Corrected Query: Where is starch divested  How is it divested


Original Query: Kindly tell me whole process of admission at vits Vellore for biotech i m a bio student in 12  I don t have math there
Corrected Query: Kindly tell me whole process of admission at its Vellore for biotech i m a bio student in 12  I don t have math there


Original Query: How does Quora look to a moderator
Corrected Query: How does Quota look to a moderator


Original Query: How much equity should I get as CTO co founder
Corrected Query: How much equity should I get as TO co founder


Original Query: Did Tywin sleep with Shae out of pure spite
Corrected Query: Did Twin sleep with Sha out of pure spite


Original Query: Why do people say Dhanush  South Indian actor  is ugly  I don t think so
Corrected Query: Why do people say Danish  South Indian actor  is ugly  I don t think so


Original Query: How can I get rid of cellulite on my stomach
Corrected Query: How can I get rid of cellulose on my stomach


Original Query: Who created the  GOD
Corrected Query: Who created the  OD


Original Query: How does the Laravel authentication work
Corrected Query: How does the Travel authentication work


Original Query: How is it to work with Satya Nadella
Corrected Query: How is it to work with Satya Della


Original Query: Is Syrio Forel a faceless man following Arya around being different people
Corrected Query: Is Syria Fore a frameless man following Area around being different people


Original Query: What is the Best way to learn Oracle HRMS
Corrected Query: What is the Best way to learn Oracle HMS


Original Query: What is the benefit to Quora
Corrected Query: What is the benefit to Quota


Original Query: How do you feel when someone upvotes your answer on Quora
Corrected Query: How do you feel when someone votes your answer on Quota


Original Query: Who are some famous people with low IQs
Corrected Query: Who are some famous people with low Is


Original Query: Which are the best and cheapest universities in the USA for doing an MS in computer science
Corrected Query: Which are the best and cheapest universities in the USA for doing an M in computer science


Original Query: Is there any other website similar to Quora
Corrected Query: Is there any other website similar to Quota


Original Query: What is Fiverr  and how do they make money
Corrected Query: What is Five  and how do they make money


Original Query: Why did Ecuador cut Julian Assange s Internet access
Corrected Query: Why did Ecuador cut Julian Passage s Internet access


Original Query: Do Trump voters care that he has reneged all his campaign promises
Corrected Query: Do Trump voters care that he has renewed all his campaign promises